<div class="wrapper" id="cause">
	<div id="text-box" class="cause-background">
		<div id="page-text" class="">
			<h2>INTERPRETER OF MALADIES LITERACY-EMPOWERMENT CAMPAIGN</h2>
			<p>
				We have developed a global literacy and empowerment campaign built around the book + movie and a world-wide network of celebrity hosted movie premiere benefit events.
				<br/>
				
				We have lined up co-sponsorships for this campaign with some of the top companies and foundations in India.  We are now establishing sponsorships with companies and foundations in the U.S. as well as partnerships with agencies of the United Nations.
				<br/>
				More to come soon.
			</p>
		</div>
	</div>
</div>

-IMAGE: collage of all sponsor logos in the background…OR….the wheel from temple
