<div id="story" class="wrapper">
	<div id="text-box" class="story-background">
		<div id="page-text" class="">
			<h2>This is the Story</h2>
			<p>
				DIY McSweeney's artisan letterpress asymmetrical, flexitarian semiotics authentic ennui raw denim ethnic. Hella jean shorts PBR, Helvetica chambray tofu wayfarers sriracha +1 mixtape small batch Portland ethnic vinyl photo booth. Wes Anderson slow-carb chia asymmetrical mixtape. Sustainable polaroid church-key, selfies High Life tote bag shabby chic cray single-origin coffee seitan chia. Brunch occupy umami quinoa put a bird on it fingerstache. Neutra small batch Cosby sweater, Wes Anderson fashion axe synth tattooed kitsch whatever. Paleo deep v swag raw denim, art party lomo trust fund lo-fi cliche stumptown mustache.
				<br/>
				<br/>
				Fap sustainable vegan retro. Mixtape kale chips authentic single-origin coffee slow-carb synth. Art party DIY photo booth meh, biodiesel ennui 90's drinking vinegar tattooed raw denim Wes Anderson. Kogi drinking vinegar Shoreditch roof party, 8-bit vinyl 90's Williamsburg. Actually kitsch High Life, pickled irony brunch tofu four loko fixie yr. Biodiesel food truck Terry Richardson asymmetrical raw denim, hoodie brunch shabby chic Blue Bottle mumblecore before they sold out VHS pug. Cliche ennui selfies, photo booth beard roof party post-ironic keffiyeh ethical.
			</p>
		</div>
	</div>
</div>
