<div id="story" class="wrapper">

		<div id="v-nav">
	        <ul>
	            <li id="tab1"><h3>Interpreter of Maladies</h3></li>
	            <li id="tab2"><h3>This Blessed House</h3></li>
	            <li id="tab3"><h3>A Temporary Matter</h3></li>
	            <li id="tab4"><h3>Synopsis</h3></li>
	        </ul>
	     </div>
	     <div class="connector"></div>
	     <div id="story-box" class="story-background">
               <div class="tab-content" id="current">
               		s
                </div>
	            <div class="tab-content">
	             	u
		        </div>
	           	<div class="tab-content">
	           		p
	           	</div>
	           	<div class="tab-content">
	           		a
	         	</div>
         </div>

</div>
