<div class="wrapper" id="story">
	<div id="v-nav">
        <ul>
            <li id="tab1"><h3>Interpreter of Maladies</h3></li>
            <li id="tab2"><h3>This Blessed House</h3></li>
            <li id="tab3"><h3>A Temporary Matter</h3></li>
            <li id="tab4"><h3>Synopsis</h3></li>
        </ul>
     </div>
     <div class="connector"></div>
     <div id="story-box" class="story-background">
           <div class="tab-content" id="current">
           		1
            </div>
            <div class="tab-content">
             	2
	        </div>
           	<div class="tab-content">
           		3
           	</div>
           	<div class="tab-content">
           		4
         	</div>
     </div>
</div>
