<!-- javascripts -->
<%= javascript_include_tag "application" %>
<!-- body-->
<div id="story" class="wrapper">
		<div id="v-nav">
	        <ul>
	            <li id="tab1"><h3>The Book</h3></li>
	            <li id="tab2"><h3>The Movie</h3></li>
	            <li id="tab3"><h3>Synopsis</h3></li>
	        </ul>
	     </div>
	     <div class="connector"></div>
	     <div id="story-box" class="story-background">
               <div class="tab-content" id="current">
                <p> Book of 9 short stories about love and longing through marriage, immigration and war. </p>
                <ul> 
                  <li>Winner of the Pulitzer Prize for fiction 2000, Hemingway, PEN awards</li>
                  <li>Best seller 29 countries, translated in 29 languages, est. 15M+ readership.</li>
                  <li>Read in US schools with "Color Purple", "To Kill A Mockingbird"… </li>
                  <li>Read in schools in E.U., S. America, S.+E. Asia, Middle-East </li>
                  <li>Stories taught in special education and in learning disability programs. </li>
                  <li>Oprah Winfrey top 10 book club, “One Book One Chicago” </li>
                  <li>Author 1 of 5 selected for Obama’s arts/culture/humanities committee. </li>
                  <li> http://en.wikipedia.org/wiki/Interpreter_of_Maladies </li>
                </ul>
                </div>
	            <div class="tab-content">
	             Synopsis	2
		        </div>
	           	<div class="tab-content">
	           		Synopsis 3
	           	</div>
         </div>
</div>
