<!-- javascripts -->
<%= javascript_include_tag "application" %>
<!-- body-->
<div id="story" class="wrapper">
		<div id="v-nav">
	        <ul>
	            <li id="tab1"><h3>Interpreter of Maladies</h3></li>
	            <li id="tab2"><h3>This Blessed House</h3></li>
	            <li id="tab3"><h3>A Temporary Matter</h3></li>
	        </ul>
	     </div>
	     <div class="connector"></div>
	     <div id="story-box" class="story-background">
               <div class="tab-content" id="current">
                <p> 
                	Mr. Siddharth Robert Kapasi is a man of the world who speaks 20 languages and once dreamt of resolving global conflicts for the United Nations, but has never left his birth city of Kolkata. Today, he works as a tour guide and interpreter for an American foreign aide doctor, solving the problems of others (including his nephew Jeeves and wife’s niece Sonya) but never his own. He is hired by Sonya’s friends from Boston, Raj and Mina. Das, as he goes on his first trip outside of Kolkata with them and their 3 young kids to the sun temple world-heritage sight in Orissa. On this 3 day journey, Mr. Kapasi falls in love with Mrs. Das as she is the first person in his life to ever tell him he is important, valuable and even romantic, launching him into a fantastical-visceral affair with her that empowers him to better solve the problems of Mrs. Das and his own family. But in the end, Mrs. Das tells him a secret that shatters his desire for her, but helps the rediscover love for themselves, their own families and dreams as a transformed Mr. Kapasi returns home. 
                </p>
                </div>
	            <div class="tab-content">
		           	<p>
		           		Sam is a mid-late thirties never-ending PhD student and non-fiction writer, who has been together for 8 years with his wife Sonya,  a mid-late thirties literary editor and aspiring fiction writer.  They have grown distant since the still birth of their third failed attempt at having a child, living like two ghosts haunted by how beautiful their lives used to be and the loss of everything they wanted. During the 3 nights of blackouts in Boston, as per the guidance of Mr. Kapasi to Sonya, they play a brutal game of truth or dare in the dark to reconcile their marriage, to help rekindle their lost love. In the end they both unleash their most brutal secrets, that end their time together, but allow Sam to finally finish his first book/PhD thesis and Sonya to start her first story "A Temporary Matter".
		           	</p>
		        </div>
	           	<div class="tab-content">
	           		<p>
	           			Twinkle is a digital media artist and failed serial monogamist facing 30 who throws herself into a cosmically arranged marriage with a 32 year old Indian immigrant I.T. entrepreneur named Jeeves, after meeting him a month ago through her adopted Indian parents and Jeeves’ uncle Mr. Kapasi.During the first three days of their marriage, they move into their new house in Boston, where they discover gaudy religious relics hidden in all the rooms.   Twinkle adopts these "holy kids", which Jeeves hates because she devotes all her love to them instead of him.  By the way, he has yet to have sex with her for no matter how many times he says he loves her she never tells him the same, even when he asks.  All of this leads to a holy war between them as they fight for control of their new love that is brought to a boil.  In the end, they follow the guidance of Mr. Kapasi and surrender what they want for themselves to give birth to something bigger, that only belongs to them together.
	           			</p>
	           	</div>
         </div>
</div>
