<!-- javascripts -->
<%= javascript_include_tag "application" %>
<!-- body-->
<div class="wrapper" id="team">
		<div id="v-nav">
	        <ul>
	            <li id="tab1"><h3>Team</h3></li>
	            <li id="tab2"><h3>EXECUTIVE PRODUCER: MIKE MEDAVOY</h3></li>
	            <li id="tab3"><h3>PRODUCER: ARNOLD MESSER</h3></li>
	            <li id="tab4"><h3>LINE/CO-PRODUCER: TABREZ NOORANI</h3></li>
	            <li id="tab5"><h3>CASTING DIRECTOR: AVY KAUFMAN</h3></li>
	        </ul>
	     </div>
	     <div class="connector"></div>
	     <div id="story-box" class="team-background">
               <div class="tab-content" id="current">
         		<p>The team members for the “Interpreter of Maladies” movie have an enormous amount of experience in the movie industry.  Some have run major studios like Sony/Columbia-Tristar while others have each made over 25 movies, many of which have been nominated or won Oscars. Please click on the names provided to the left to learn more about our incredible team.
         		</p>
                </div>
	            <div class="tab-content">
	             <p>Mike Medavoy is a legendary studio executive and producer having previously ran Orion Pictures, Tristar, and founding <%=link_to "Phoenix Pictures", "http://www.phoenixpictures.com" %>. He has produced such great films as “U-Turn”, “The Thin Red Line”, “All The Kings Men”, “Shutter Island” and “Black Swan”.  He has been involved with over 300 feature films, of which 16 have been nominated and 7 have won Oscars.</p>
		        </div>
		          <div class="tab-content">
	             <p>Arnold Messer is a veteran studio executive and producer having previously been president of Sony Pictures Entertainment international and co-founder of <%= link_to "Phoenix Pictures", 'http://www.phoenixpictures.com'%>. He has produced over 20 movies including “U-Turn”, “The Thin Red Line”, “All The Kings Men”, “Shutter Island” and “Black Swan” of which many have been nominated and/or have won Oscars.</p>
		        </div>
		          <div class="tab-content">
	             <p>Tabrez Noorani is one of the leading line/co-producers in the international film industry and the founder of the top Indian production company India Take One (www.indiatakeone.com).  He has line/coproduced nearly 20 films including “Slumdog Millionaire”, “Life of Pi”, “Famous Marigold Hotel”, “Eat Pray Love” and “Zero Dark Thirty”.</p>
		        </div>
	           	<div class="tab-content">
	           	<p>Avy Kaufman is one of the best casting directors in the American and international film industry.  She has been responsible for casting over 160 movies, including “The Basketball Diaries”, “The Ice Storm”, “The Sixth Sense”, “Brokeback Mountain”, “All The King’s Men”, “Prometheus”, “Life of Pi” and “Lincoln”.<p/>
	           	</div>
         </div>
</div>